body {
  background-color: black;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1a1423;
}

.imageBox {
  width: 35%;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
}

.textBox {
  width: calc(65% - 40px);
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 5px solid black;
}

.textBox h3 {
  font-size: 45px;
}

header .wrapper {
  background-color: darkcyan;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(../../../assets/poster.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header h1 {
  font-size: 65px;
}

header h2 {
  font-size: 35px;
}

button,
.watchTrailer {
  width: 140px;
  height: 40px;
  border: 0px;
  border-radius: 50px;
  background-color: orange;
  color: black;
  font-size: 16px;
  padding: 10px;
}

#search-input {
  margin: 20px;
  width: 300px;
  padding: 10px;
}

footer p {
  text-align: center;
  color: white;
}
