@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 90%;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1a1423;
}

.imageBox {
  width: 35%;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
}

.textBox {
  width: calc(65% - 40px);
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 5px solid black;
}

.textBox h3 {
  font-size: 45px;
}

header .wrapper {
  background-color: darkcyan;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(../../../assets/poster.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header h1 {
  font-size: 65px;
}

header h2 {
  font-size: 35px;
}

button,
.watchTrailer {
  width: 140px;
  height: 40px;
  border: 0px;
  border-radius: 50px;
  background-color: orange;
  color: black;
  font-size: 16px;
  padding: 10px;
}

#search-input {
  margin: 20px;
  width: 300px;
  padding: 10px;
}

footer p {
  text-align: center;
  color: white;
}

@media screen and (max-width: 1200px) {
  .textContainer img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 800px) {
  .textBox {
    width: 100%;
    align-items: center;
  }

  .textContainer img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
  }

  .search-bar button {
    margin-bottom: 10px;
  }

  .search-bar button {
    text-align: center;
  }

  .watchTrailer {
    text-align: center;
  }

  iframe {
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .textContainer img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .textContainer h3 {
    font-size: 30px;
  }

  .textContainer p {
    font-size: 20px;
  }

  header h1 {
    font-size: 45px;
  }

  header h2 {
    font-size: 25px;
  }

  .search-bar button {
    text-align: center;
  }

  #search-input {
    text-align: center;
  }

  .watchTrailer {
    text-align: center;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  iframe {
    width: 100vw;
  }
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-y: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap *//*# sourceMappingURL=styles.css.map */